a {
    color: #333;
    cursor: pointer;
    text-decoration: none;
}
div {
    display: block;
}
ul, menu, dir {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
ul, ol, dl, menu, li {
    list-style: none;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 13.3333px Arial;
}
input, textarea, select, button, meter, progress {
    -webkit-writing-mode: horizontal-tb !important;
}
input {
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
img_header {
    vertical-align: top;
    border: 0 none;
    width: 100%;
}
img_video {
    vertical-align: top;
    border: 0 none;
    width: 115%;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
body {
  color: #fff;
  font: 600 14px/24px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
}
.container_eff {
  position: relative;
  width: 100%;
  height:auto;
}

.image_eff {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle_eff {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container_eff:hover .image_eff {
  filter: brightness(50%);
}

.container_eff:hover .middle_eff {
  opacity: 1;
}

.text_eff {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
@media screen and (min-width: 0px) and (max-width: 720px) {
  .mobile-hide{ display: none; }
}
